<div class="row mt-3">
  <div class="col">
    <div class="fs-1 fw-bold text-primary">Order Placed</div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary" [routerLink]="['/']">Back</button>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p> Your order details are below</p>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Date:</td>
          <td> <code>{{ receipt.timestamp | date: 'MMM d, y'}}</code> </td>
        </tr>
        <tr>
          <td>Order Id:</td>
          <td> <code>{{ receipt.orderId }}</code> </td>
        </tr>
        <tr>
          <td>Payment Id:</td>
          <td> <code>{{ receipt.paymentId }}</code> </td>
        </tr>
        <tr>
          <td>Total:</td>
          <td> <code>{{ receipt.total }}</code> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
